<div class="row">
  <div class="span12">
    <div id="google_maps">
    </div>
  </div>
</div>

<script type="text/javascript">
<!--
  $(document).ready(function() {
    load_google_maps()
  });
-->
</script>
